nav {
    /* display를 어떤 식으로 할것인가 => 유연한 속성을 넣으면 기본이 가로로 정렬된다. 그 사이사이는 gap으로 줌 */
    display: flex;
    /* flex 하위에 있는 속성 */
    align-items: center;

    /* padding:0 120px; */
    padding-left: 120px;
    padding-right: 120px;

    gap: 40px;
    height: 100px;

}

.navItem {

    /*레이아웃에 대한 스타일(5~10줄)*/

    /*텍스트 스타일(3~8줄)*/
    color: #493039;
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard";

    line-height: 1.5;
    /**150%;**/
    letter-spacing: -0.05px;
}


/* 안녕하세요 뱃지 */
.badge {
    /* display: flex; */
    padding: 12px 24px;
    /* justify-content: center; */
    /* align-items: center; -> 여기 주석처리 세개는 display 속성들 여러개가 있을때 어떻게 디스플레이 할떄임 */
    /* gap: 10px;   */

    border-radius: 10px;
    background: #E6EEFF;
    /* 가로 사이즈를 컨텐트에 맞게 조절해줌 */
    width: fit-content;

    /* 텍스트 속성 */
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */

    /*얘는 배경색이 있으므로 padding이 아닌 margin을 줘야한다.*/
    margin-bottom: 40px;
}

/* 
@media(max-width:768px){
    .badge{
        background-color: red;
    }
}
*/


/* 헤더 부분 */
header {
    padding: 30px 120px;
    margin-bottom: 60px;

}

header h1 {
    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 80px */
    letter-spacing: -1.28px;
}

header h1 em {
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerLinkContainer {
    /* block으로 바꿨기 때문에 이 디스플레이를 유연하게 할거다 라고 해줌 */
    display: flex;
    gap: 16px;
    margin-top: 20px;
    /* flex-direction: row; */
}

.headerLink1 {
    padding: 10px;
    display: block;
    /* 링ㅋ의 underline을 지워줌 */
    text-decoration: none;

    display: flex;
    padding: 24px 40px;
    width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: #000;

    color: #E6EEFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */

}

.headerLink2 {

    padding: 10px;
    display: block;
    /* 링크의 underline을 지워줌 */
    text-decoration: none;

    display: flex;
    padding: 24px 40px;
    width: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    border: 4px solid #403930;

    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.headerProfileContainer {
    display: flex;
    gap: 150px;
}

.profileImage {

    /* width: 355.624px; => 반응형이므로 width는 안주는 경우가 많고 height도 잘 안건드는데 건드는 경우도 있음 */
    width: 355.624px;
    height: 350px;
    flex-shrink: 0;

    border-radius: 300px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.headerMainContainer {
    display: block;
}


/* 자기소개 부분 */
.intro {
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.aboutMe {
    /* max-width 적용하고 margin을 0(상하), auto(좌우)로 해주면 화면을 줄여도 콘텐트가 왼쪽으로 붙는게 아니라 가운데에 붙는다 */
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 40px;

}

.aboutMe h1 {
    color: #000;
    font-size: 40px;
    /* white-space: pre-line; */
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 50px */
    letter-spacing: -0.8px;
}

.aboutMe p {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */

}

/* absolute를 쓰려면 그 안에 있는 posRelative의 position에 relative로 감싸져야 한다. */
.posRelative {
    position: relative;
}


/* 슈퍼맨 부분 */
.flyingPerson {
    width: 120px;
    height: 120px;
    position: absolute;
    /* top: 0px; */
    bottom: 48px;
    /* right: 0px; */
    left: 165px;
    position: absolute;
}

/* Contact Me 부분 */
.contactLink {
    position: fixed;
    right: 60px;
    bottom: 60px;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);


    width: 165px;
    padding: 20px 10px;
    color: rgba(64, 57, 48, 0.8);


    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 기술 스택 부분 */
.techStackContainer {
    display: flex;
    padding:100px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techStackContainer h2 {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 65% */
    letter-spacing: -0.8px;
    padding-bottom: 20px;
}

.techStackContainer p {
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 80px;
    /* 130% */
}

.techImages1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;

    /* display: gird;
    grid-template-columns: repeat(6,1fr) => 6개의 열 */
}

.projectContainer{
    display: flex;
    gap:32px;
    padding: 80px 120px 120px 120px;
    flex-direction: column;
    justify-content: center;

background: rgba(244, 244, 244, 0.50);
}

.projectContainer h2{
    color: #403930;
font-size: 40px;
font-weight: 600;
line-height: 125%; /* 50px */
letter-spacing: -0.8px;
}

.firstProject{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #E6EEFF;
}

.firstDescription{
    padding: 90px 70px;
}

.firstProject h2{
    color: #403930;
font-size: 40px;
font-weight: 600;
line-height: 125%; /* 50px */
letter-spacing: -0.8px;
}

.firstProject p{
    align-self: stretch;
    color: #403930;
font-size: 16px;
font-weight: 500;
line-height: 150%; /* 24px */
margin-bottom: 40px;
}

/*
.firstDescription firstNotionLink{
color: #405BA1;
font-size: 20px;
font-weight: 600;
line-height: 150%; /* 30px */
/* text-decoration-line: underline; */
/* } */
/*/

.firstDiscription firstGithubLink{
    color: #00446A;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; /* 30px */
    /* text-decoration-line: underline; */
/* } */

.firstImages{

}

/* 애니메이션 */
.fadeIn {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}